# Preparing Crime Data

Final project for DS1001

In [1]:
import pandas as pd
import numpy as np

## Read in the crime report data

In [2]:
crimes2004_2018 = pd.read_csv("https://data.austintexas.gov/api/views/fdj4-gpfu/rows.csv?accessType=DOWNLOAD")

/Users/brinaseidel/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Rename the columns - columns_largeset below is the simplification of the column i.e. replacing spaces with underscores

In [3]:
print(crimes2004_2018.columns)
columns_largeset = ['inc_number', 'high_off_desc', 'high_off_code', 'fam_viol', 'date_time', 'date', 'time', 'report_date_time', 'report_date']
columns2_largeset = ['report_time', 'loc_type', 'address', 'zip_code', 'council_district', 'apd_sector', 'apd_district', 'pra', 'cen_tract', 'clr_status', 'clr_date', 'ucr', 'cat_desc', 'x_coord', 'y_coord', 'latitude', 'longtitude', 'location']
columns_largeset += columns2_largeset
print(columns_largeset)
crimes2004_2018.columns = columns_largeset

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')
['inc_number', 'high_off_desc', 'high_off_code', 'fam_viol', 'date_time', 'date', 'time', 'report_date_time', 'report_date', 'report_time', 'loc_type', 'address', 'zip_code', 'council_district', 'apd_sector', 'apd_district', 'pra', 'cen_tract', 'clr_status', 'clr_date', 'ucr', 'cat_desc', 'x_coord', 'y_coord', 'latitude', 'longtitude', 'location']

We only have resistence data for 2009 to 2016, so we will keep only the corresponding years of crime data.

In [7]:
temp = list(crimes2004_2018['inc_number'].astype(str))
temp = [l[0:4] for l  in temp]
crimes2004_2018['year']= np.array(temp)
crimes2009_2016 = crimes2004_2018.loc[crimes2004_2018['year'].isin(['2009','2010', '2011', '2012', '2013', '2014', '2015', '2016'])]

In [8]:
print(crimes2009_2016.shape)
crimes2009_2016.head()

(1050639, 28)

,inc_number,high_off_desc,high_off_code,fam_viol,date_time,date,time,report_date_time,report_date,report_time,...,clr_status,clr_date,ucr,cat_desc,x_coord,y_coord,latitude,longtitude,location,year
0,20145043640,VIOL OF PROTECTIVE ORDER,3009,N,10/01/2014 08:19:00 PM,10/01/2014,2019.0,10/01/2014 08:19:00 PM,10/01/2014,2019.0,...,N,10/15/2014,NaN,NaN,3130355.0,3130355.0,30.315506,-97.690678,"(30.31550566, -97.69067834)",2014
1,20115047788,RUNAWAY CHILD,4100,N,10/11/2011 06:00:00 AM,10/11/2011,600.0,10/11/2011 10:49:00 AM,10/11/2011,1049.0,...,N,10/12/2011,NaN,NaN,3137779.0,3137779.0,30.319818,-97.667024,"(30.31981803, -97.66702419)",2011
3,20112011254,VIOL CITY ORDINANCE - OTHER,3299,N,07/20/2011 05:05:00 PM,07/20/2011,1705.0,07/20/2011 05:05:00 PM,07/20/2011,1705.0,...,C,09/03/2011,NaN,NaN,3106719.0,3106719.0,30.266295,-97.766915,"(30.26629453, -97.76691542)",2011
6,20145045267,BURGLARY OF VEHICLE,601,N,10/11/2014 05:00:00 PM,10/11/2014,1700.0,10/12/2014 04:13:00 AM,10/12/2014,413.0,...,N,11/04/2014,23F,Theft,3115529.0,3115529.0,30.268006,-97.738955,"(30.26800598, -97.73895531)",2014
7,2013141039,AGG ROBBERY/DEADLY WEAPON,300,N,01/14/2013 03:16:00 PM,01/14/2013,1516.0,01/14/2013 03:16:00 PM,01/14/2013,1516.0,...,C,02/18/2013,120,Robbery,3125085.0,3125085.0,30.314675,-97.707407,"(30.31467502, -97.70740742)",2013

## Read in the resistance data

In [9]:
resistance_09 = pd.read_csv("https://data.austintexas.gov/api/views/sc8s-w4ka/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_10 = pd.read_csv("https://data.austintexas.gov/api/views/q5ym-htjz/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_11 = pd.read_csv("https://data.austintexas.gov/api/views/jipa-v8m5/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_12 = pd.read_csv("https://data.austintexas.gov/api/views/bx9w-y5sd/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_13 = pd.read_csv("https://data.austintexas.gov/api/views/qxx9-6iwk/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_14 = pd.read_csv("https://data.austintexas.gov/api/views/vv43-e55n/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_15 = pd.read_csv("https://data.austintexas.gov/api/views/iydp-s2cf/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_16 = pd.read_csv("https://data.austintexas.gov/api/views/h8jq-pcz3/rows.csv?accessType=DOWNLOAD").astype(str)

Many of these datasets have different colnames - here, we standardize them so that we can combine them

In [10]:
columns_resistance = ['rin', 'prim_key', 'date_occ', 'time_occ', 'address', 'area_command', 'nature_of_contact', 'reason_desc', 'r2r_level', 'master_sub_id', 'sub_sex']
columns2_resistance = ['sub_race', 'sub_ethn', 'sub_cond_desc', 'sub_res', 'weapon_1', 'weapon_2', 'weapon_3', 'weapon_4', 'weapon_5', 'num_shots', 'sub_eff', 'eff_on_officer']
columns3_resistance = ['off_org_desc', 'off_comm_date', 'off_years_service', 'x_coord', 'y_coord', 'council_district']
columns_resistance += columns2_resistance + columns3_resistance
resistance_09.columns = columns_resistance
resistance_10.columns = columns_resistance
resistance_11.columns = columns_resistance
resistance_12.columns = columns_resistance
resistance_13.columns = columns_resistance
resistance_14.columns = columns_resistance
resistance_15.columns = columns_resistance
resistance_16.columns = columns_resistance

Combine the data for all years

In [11]:
resistances = [resistance_09,resistance_10,resistance_11,resistance_12, resistance_13,resistance_14,resistance_15, resistance_16]
resistance = pd.concat(resistances,sort=False)

In [12]:
print(resistance.shape)
resistance.head()

(23218, 29)

,rin,prim_key,date_occ,time_occ,address,area_command,nature_of_contact,reason_desc,r2r_level,master_sub_id,...,weapon_5,num_shots,sub_eff,eff_on_officer,off_org_desc,off_comm_date,off_years_service,x_coord,y_coord,council_district
0,19654,200910720,01/01/2009 12:00:00 AM,,200 W 4TH ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,305859998: 200910720,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 400 REG I PATROL,01/08/1993 12:00:00 AM,16,3113640,10070272,9.0
1,19656,200910883,01/01/2009 12:00:00 AM,0330,6309 BURNS ST,ID,DISPATCHED CALL,NECESSARY TO DEFEND REPORTING OFFICER,2.0,66128268: 200910883,...,nan,1.0,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,BAKER 700 REG I PATROL,04/27/2007 12:00:00 AM,2,3120652,10093724,4.0
2,19734,200910883,01/01/2009 12:00:00 AM,,6309 BURNS ST,ID,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,1.0,66128268: 200910883,...,nan,0.0,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,BAKER 700 REG I PATROL,06/20/2008 12:00:00 AM,1,3120652,10093724,4.0
3,19735,200911936,01/01/2009 12:00:00 AM,1640,6710 ARROYO SECO,ID,DISPATCHED CALL,OTHER (DOCUMENT IN SUPPLEMENT),3.0,219233449: 200911936,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,BAKER 300 REG I PATROL,06/18/2004 12:00:00 AM,5,3117560,10097233,7.0
4,19736,200911936,01/01/2009 12:00:00 AM,1635,6710 ARROYO SECO,ID,DISPATCHED CALL,OTHER (DOCUMENT IN SUPPLEMENT),3.0,314316133: 200911936,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,BAKER 300 REG I PATROL,01/04/2008 12:00:00 AM,1,3117560,10097233,7.0

## Merge the resistance data with the crime data

In the resistance data, each primary key ("prim_key") represents an incident, and each record is a single officer's report of that incident. This means that there are often multiple records per primary key. In order to merge one-to-one, we want only one record per primary key.

First, we should determine which columns are at the report level and which are at the primary key level.

In [35]:
# Count the number of unique primary keys
n_prim_key = len(resistance["prim_key"].unique())

# For each other column in the resistence dataset, check if the number of unique records in terms of the primary key i
for col in resistance.columns[3:]:
    n_col = len(resistance.groupby(["prim_key", col]))
    if n_col != n_prim_key:
        diff = n_col-n_prim_key
        print(col, diff)

time_occ 5626
nature_of_contact 828
reason_desc 2100
r2r_level 685
master_sub_id 1451
sub_sex 461
sub_race 406
sub_ethn 460
sub_cond_desc 1120
sub_res 2910
weapon_1 1989
weapon_2 729
weapon_3 110
weapon_4 9
weapon_5 1
num_shots 1814
sub_eff 2194
eff_on_officer 1722
off_org_desc 3419
off_comm_date 8258
off_years_service 7599

"prim_key" in the resistance data appears similar to "inc_number" in the crime data, but the former only has nine characters. We therefore take the first nine characters of "inc_number" and use this to merge with "prim_key."
We confirmed (and show below) that this merge does appear to match the correct records.

In [ ]:
crimes2009_2016["prim_key"] = crimes2009_2016["inc_number"][0:12]
#combined = pd.merge(, how="outer", indicator=True)

In [33]:
col="rin"
len(resistance.groupby(["prim_key", col]))

23218